@import "tailwindcss";
@plugin "daisyui";

@plugin 'daisyui' {
  themes: dark --prefersdark, light --default, cupcake;
}

@theme {
  --color-midnight-pink: #740014;
}

/* .hero-image {
  width: 100%;
  height: 600px;
} */

.tech-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
